@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@{ 
    var requestCultureFeature = Context.Features.Get <Microsoft.AspNetCore.Localization.IRequestCultureFeature >();
    var requestCulture = requestCultureFeature.RequestCulture.UICulture.IetfLanguageTag;
    var enBtnClass = requestCulture == "en-US" ? "btn-success" : "btn-secondary";
    var zhBtnClass = requestCulture == "zh" ? "btn-success" : "btn-secondary";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Title"] - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous" />
    <link id="themeCSS" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/superhero/bootstrap.min.css"
          integrity="sha256-rnfdvbEFy+FHVpECE1bbe1zIsvw+ua0qkI0/Wx8tykw="
          crossorigin="anonymous">
    @RenderSection("StyleSheets", required: false)
</head>
<body class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="@Context.Request.PathBase/">
                <img src="~/assets/paint.svg" width="30" height="30" alt="" class="d-inline-block align-top mr-2" loading="lazy">
                @Localizer["Company"]
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home">@Localizer["Gallery"]</a>
                    </li>
                    @if ((await authorizationService.AuthorizeAsync(User, Policy.IsAdmin)).Succeeded)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Students" asp-action="Index">@Localizer["Students"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Lessons" asp-action="Index">@Localizer["Lessons"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Payments" asp-action="Index">@Localizer["Payments"]</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">@Localizer["Signout"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">@Localizer["Signin"]</a>
                        </li>
                    }
                </ul>
                <div class="btn-group" role="group" aria-label="Choose Language">
                    <button id="english" type="button" class="btn @enBtnClass">English</button>
                    <button id="chinese" type="button" class="btn @zhBtnClass">中文</button>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="my-3">
        @RenderBody()
    </main>

    <footer class="footer text-center text-muted mb-3">
        <div>@Localizer["Copyright"] &copy; @Localizer["Company"], 2021.</div>
        <div>
            Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        $(function () {
            var cultureCookie = ".AspNetCore.Culture";
            $("#english").click(function () {
                if (!$(this).hasClass("btn-success")) {
                    Cookies.remove(".AspNetCore.Culture");
                    window.location.reload();
                }
            });
            $("#chinese").click(function () {
                if (!$(this).hasClass("btn-success")) {
                    Cookies.set(".AspNetCore.Culture", "c=zh|uic=zh", { expires: 365 });
                    window.location.reload();
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
