@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="display-4">@Localizer["WelcomeMsg"]</h1>
            <p class="lead">
                @Localizer["WelcomeLead"]
            </p>
            <p>
                @Localizer["AboutSchool"]
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">@Localizer["Showcase"]</h4>
        <div class="card">
            <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Student Showcase 1">
            <div class="card-body">
                <h5 class="card-title">Title by Author</h5>
                <p class="card-text">
                    <span class="text-info">@Localizer["TeacherComments"]:</span> In tortor lorem, auctor vehicula mattis eu,
                    varius ac leo. Ut est est, auctor id eleifend quis, semper in sapien. Integer laoreet
                    velit ut erat congue, quis porta tellus interdum.
                </p>
            </div>
        </div>
        <button class="btn btn-primary mt-2">@Localizer["SeeMore"]</button>
    </div>
</div>
