@model StudentViewModel
@{
    ViewData["Title"] = Model.Name;
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item align-bottom"><a asp-action="Index">@Localizer["Students"]</a></li>
        <li class="breadcrumb-item active align-bottom">@Model.Name</li>
        <li class="ml-auto">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </li>
    </ol>
</nav>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">@Localizer["BasicInfo"]</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr><th>@Localizer["Name"]</th><td>@Model.Name</td></tr>
                        <tr><th>@Localizer["Age"]</th><td>@(DateTime.Now.Year - Model.BirthYear)</td></tr>
                        <tr><th>@Localizer["Class"]</th><td>@Model.Class.Name</td></tr>
                        <tr><th>@Localizer["ParentName"]</th><td>@Model.ParentName</td></tr>
                        <tr><th>@Localizer["ParentEmail"]</th><td>@Model.ParentEmail</td></tr>
                        <tr>
                            <th>@Localizer["Active"]</th>
                            <td>@(Model.IsActivie ? Localizer["Yes"] : Localizer["No"])</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">@Localizer["Lessons"]</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var attendance in Model.Attendances)
                    {
                        <li class="list-group-item">@attendance.Lesson.DateTime.ToString("d")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">@Localizer["Payments"]</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr><th>@Localizer["Date"]</th><th>@Localizer["Amount"]</th><th>@Localizer["Lessonss"]</th></tr>
                    </thead>
                    <tbody>
                        @foreach(var payment in Model.Payments)
                        {
                            <tr>
                                <td>@payment.DateTime.ToString("d")</td>
                                <td>@payment.Amount.ToString("C")</td>
                                <td>@payment.Lessons</td>
                            </tr>
                        }
                        <tr class="bg-success">
                            <th>@Localizer["Total"]</th>
                            <td>@Model.PaymentsTotal.ToString("C")</td>
                            <td>@Model.LessonsTotal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
